    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up" data-aos-mirror="false" data-aos-once="false">

          <div class="section-title">
            <h2>Testimonials</h2>
            <p>Note: Loaded from LinkedIn recommendation section.</p>
          </div>

          <swiper [slidesPerView]="1" [pagination]="{ el: '.swiper-pagination', clickable: true }" [loop]="true" [controller]="{ control: controlledSwiper }" [navigation]="false"> <!-- u can edit navigation to true if u want use navigation -->

            <ng-template swiperSlide>
              <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>ABDELKRIM LEGSAI</h3>
                  <h4>Ceo &amp; Founder of Borderline-Solutions</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Achraf was a real pleasure to work with and we look forward to working with him again. He’s definitely the kind of developer you can trust with a project from start to finish.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
          </ng-template>

          <ng-template swiperSlide>
            <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                <h3>Fadwa Salhi</h3>
                <h4>marketing and international trade</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Achraf's a clear communicator with the tenacity and confidence to really dig in to tricky develop scenarios and the collaborative friction that's needed to produce excellent work.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
        </ng-template>

		<ng-template swiperSlide>
            <div class="testimonial-item">
                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Michaela Müller</h3>
                <h4>SW Research & Development talent acquisition specialist at Logamic</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  He is very hardworking and can adapt to the existing system in very faster way. He played a key role in optimizing the Angular Projects incremental build issues. Wish you all the best for furture endeavours 😁.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
        </ng-template>

      </swiper>

      <div class="swiper-pagination"></div>

        </div>
      </section><!-- End Testimonials Section -->
