  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
         Copyright <strong><span>AchrafBj</span></strong>. All Rights Reserved &copy; 2021
      </div>
      <div class="credits">
<!-- =======================================================
  * Author: Boujjou Achraf
  * License: https://www.linkedin.com/in/achrafboujjou/
  ======================================================== -->
        Designed by <a href="https://github.com/McAchoox94" target="_blank">Achraf Boujjou</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
