<main id="main">
    <section id="resume" class="resume">
        <div class="container">

<div class="row row-cols-1 row-cols-md-4 g-4" style="padding: 2%;">
    <div class="col" data-aos="zoom-in" data-aos-duration="500" data-aos-mirror="false" data-aos-once="false">
      <div class="card text-center h-100" data-mdb-ripple-color="light" >
        <a href="https://openclassrooms.com/en/courses/4668271-developpez-des-applications-web-avec-angular" target="_blank"><img src="assets/img/certificats/certificat1.jpg" class="card-img-top" alt="..."/> </a>
        <div class="card-body">
          <a href="assets/img/certificats/2496975350.pdf" class="btn btn-primary" target="_blank">View certificate </a>
        </div>
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="1000" data-aos-mirror="false" data-aos-once="false">
      <div class="card text-center h-100" data-mdb-ripple-color="light">
        <a href="https://openclassrooms.com/en/courses/4449026-initiez-vous-a-lalgebre-relationnelle-avec-le-langage-sql" target="_blank"><img src="assets/img/certificats/certificat2.jpg" class="card-img-top" alt="..."/> </a>
        <div class="card-body">
          <a href="assets/img/certificats/3020638725.pdf" class="btn btn-primary"  target="_blank">View certificate </a>
        </div>
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="1500" data-aos-mirror="false" data-aos-once="false">
      <div class="card text-center h-100" data-mdb-ripple-color="light">
        <a href="https://openclassrooms.com/en/courses/918836-concevez-votre-site-web-avec-php-et-mysql" target="_blank"><img src="assets/img/certificats/certificat3.jpg" class="card-img-top" alt="..."/> </a>
        <div class="card-body">
          <a href="assets/img/certificats/8676132875.pdf" class="btn btn-primary"  target="_blank">View certificate </a>
        </div>
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="2000" data-aos-mirror="false" data-aos-once="false">
      <div class="card text-center h-100" data-mdb-ripple-color="light">
        <a href="https://openclassrooms.com/en/courses/4462426-maitrisez-les-bases-de-donnees-nosql" target="_blank"><img src="assets/img/certificats/certificat4.jpg" class="card-img-top" alt="..."/> </a>
        <div class="card-body">
          <a href="assets/img/certificats/9990502170.pdf" class="btn btn-primary"  target="_blank">View certificate </a>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" data-aos="zoom-in" data-aos-duration="2300" data-aos-mirror="false" data-aos-once="false">
      <div class="card text-center h-100" data-mdb-ripple-color="light" >
        <a href="https://openclassrooms.com/en/courses/5614116-go-full-stack-with-node-js-express-and-mongodb" target="_blank"><img src="assets/img/certificats/certificat5.jpg" class="card-img-top" alt="..."/> </a>
        <div class="card-body">
          <a href="assets/img/certificats/4951634483.pdf" class="btn btn-primary"  target="_blank">View certificate </a>
        </div>
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="2500" data-aos-mirror="false" data-aos-once="false">
      <div class="card text-center h-100" data-mdb-ripple-color="light">
        <a href="https://openclassrooms.com/en/courses/5265446-build-your-first-web-pages-with-html-and-css" target="_blank"><img src="assets/img/certificats/certificat6.jpg" class="card-img-top" alt="..."/> </a>
        <div class="card-body">
          <a href="assets/img/certificats/2964866062.pdf" class="btn btn-primary"  target="_blank">View certificate </a>
        </div>
      </div>
    </div>
    <div class="col" data-aos="zoom-in" data-aos-duration="2500" data-aos-mirror="false" data-aos-once="false">
      <div class="card text-center h-100" data-mdb-ripple-color="light">
        <a href="https://www.udemy.com/course/cours-javascript" target="_blank"><img src="assets/img/certificats/certificat7.jpg" class="card-img-top" alt="..."/> </a>
        <div class="card-body">
          <a href="assets/img/certificats/UC-XPXWDEF0.pdf" class="btn btn-primary"  target="_blank">View certificate </a>
          <!-- <a href="assets/img/certificats/UC-XPXWDEF0.pdf" class="btn btn-primary"  target="_blank"><i class="fa fa-download"></i> View certificate </a> -->
        </div>
      </div>
    </div>
  </div>

        </div>
    </section>
</main>
