    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-down" data-aos-duration="1000" data-aos-mirror="false" data-aos-once="false">
          <h2>About</h2>
          <p>I am an allround web developer. I am a junior programmer with good knowledge of front-end techniques. 
            I love structure and order and I also stand for quality. I love spending time on fixing little details and optimizing web apps. 
            Also I like working in a team, you'll learn faster and much more. As the saying goes: <b><q>two heads are better than one</q></b>.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="flip-left" data-aos-duration="1500" data-aos-mirror="false" data-aos-once="false"> 
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            <div data-aos="zoom-in-up" data-aos-duration="4000">
            <h3>I'm a creative MEAN Stack developer</h3>
            <p class="fst-italic">
              Although I'm very familiar with using JavaScript frameworks, my websites are primarily hand-coded using Angular.
            </p> <br>
            </div>
            <div class="row" data-aos="fade-down-left" data-aos-duration="5000" data-aos-mirror="false" data-aos-once="false">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 1 December 19**</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.example.com</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +212 6 24 06 23 00</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Rabat, MOROCCO</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong>🥴</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Master</li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong><a href="mailto:boujjouachraf.pro@gmail.com"> boujjouachraf.pro@gmail.com</a> </li>
                  <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <div data-aos="fade-left" data-aos-duration="7000" data-aos-mirror="false" data-aos-once="false">
              <figure>
                <blockquote class="blockquote">
                  <p>You are a computer. If you become front-end you'll count the likes on social media. 
                    If you become back-end you'll be breathing deep on a mountain. 
                    Listen! one life man. Become a Full-stack.</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                   <cite title="Source Title">Chetan M. Kumbhar </cite>
                </figcaption>
              </figure>
          </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
