    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
        <div class="container">
  
          <div class="section-title" data-aos="zoom-out-down" data-aos-mirror="false" data-aos-once="false">
            <h2>Facts</h2>
            <p>Without requirements or design , programming is the art of adding bugs to an empty text file.  - <b>Louis Srygley</b> </p>
          </div>
  
          <div class="row counters" data-aos="flip-down" data-aos-duration="1500" data-aos-mirror="false" data-aos-once="false">
  
            <div class="col-lg-3 col-6 text-center">
              <!-- Uncomment below if you prefer to use ngx-countup -->
              <!-- <span [countUp]="232" [reanimateOnClick]="false"></span> -->
              <span>{{clientCount}}</span> <!-- comment this line if u want use ngx-countup -->
              <p>Clients</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <!-- Uncomment below if you prefer to use ngx-countup -->
              <!-- <span [countUp]="232"></span> -->
              <span>{{projectCount}}</span> <!-- comment this line if u want use ngx-countup -->
              <p>Projects</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <!-- Uncomment below if you prefer to use ngx-countup -->
              <!-- <span [countUp]="232"></span> -->
              <span>{{supportCount}}</span> <!-- comment this line if u want use ngx-countup -->
              <p>Hours Of Support</p>
            </div>
  
            <div class="col-lg-3 col-6 text-center">
              <!-- Uncomment below if you prefer to use ngx-countup -->
              <!-- <span [countUp]="232"></span> -->
              <span>{{customerSattisfactionCount + "%"}}</span> <!-- comment this line if u want use ngx-countup -->
              <p>Customer Sattisfaction</p>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Facts Section -->
