.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition:  .1s linear;
   }
   .show-scrollTop {
    opacity: 1;
    transition:  .1s linear;
   }

   .scroll-to-top i {
    font-size: 50px;
    color: #3DC8B7;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #49cbbb;
    color: #fff;
  }


    /* <!-- =======================================================
  * Author: Boujjou Achraf / Naoufal Alaoui Ismaili
  * License: https://www.linkedin.com/in/achrafboujjou // https://www.linkedin.com/in/naoufal-alaoui-ismaili-95042a165/
  ======================================================== --> */